window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: "JetBrains Mono Nerd Font", "Noto Color Emoji", sans-serif;
    font-size: 26px;
    border-radius: 10px;
}

#waybar .module {
    background-color: transparent;
    padding: 0 8px;
    font-weight: bolder;
}

#waybar .module:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#network,
#memory,
#cpu {
    color: #a9b1d6;
}

#cpu .critical {
    color: #fa0202;
}

#clock,
#custom-weather {
    color: #fff;
}

#pulseaudio,
#pulseaudio#microphone {
    color: #fff;
}

tooltip {
    font-family: 'monospace';
    background-color: #2e3440;
    color: #eceff4;
    border: 1px solid #3b4252;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
}

#tray {
    margin-left: 10px;
}

#window {
    color: #0a99ff;
}

window#waybar.empty #window {
    background-color: transparent;
}

#battery {
    color: #2ecc71;
}

#battery.warning {
    color: #f39c12;
}

#battery.critical {
    color: #e74c3c;
}

#battery.charging, #battery.plugged {
    color: #3498db;
}

#temperature {
    color: #e67e22;
}

#temperature.critical {
    color: #c0392b;
}

#workspaces {
    margin-right: 10px;
}

#workspaces button {
    padding: 0 6px;
    color: #666;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: #81C4FF;
    border: 2px solid;
}